In [249]:
# more the detail for /results/report.pdf

# import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
%matplotlib inline

In [250]:
# combine something.csv and something_add.csv into somthing_full.csv
for filename in 'train','condition':
  path_f = '../data/raw_data/' + filename + '.csv'
  path_f_add = '../data/raw_data/' + filename + '_add.csv'
  path_f_full = '../data/rearranged_data/' + filename + '_full.csv'
  with open(path_f,'r',encoding='utf-8') as f:
    with open(path_f_full,'w',encoding='utf-8') as f_full:
      str_f = f.read()
      f_full.write(str_f)
  with open(path_f_add,'r',encoding='utf-8') as f_add:
    with open (path_f_full,'a',encoding='utf-8') as f_full:
      strs_f_add = f_add.readlines()
      f_full.writelines(strs_f_add[1:])

In [380]:
# load data and make pd.dataframe
df_train = pd.read_csv('../data/rearranged_data/train_full.csv')
df_cond = pd.read_csv('../data/rearranged_data/condition_full.csv')
df_test = pd.read_csv('../data/raw_data/test.csv')
df_stad = pd.read_csv('../data/raw_data/stadium.csv')

In [381]:
# check the data
print(df_train.info())
print(df_test.info())
print(df_stad.info())
print(df_cond.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1953 entries, 0 to 1952
Data columns (total 11 columns):
id         1953 non-null int64
y          1953 non-null int64
year       1953 non-null int64
stage      1953 non-null object
match      1953 non-null object
gameday    1953 non-null object
time       1953 non-null object
home       1953 non-null object
away       1953 non-null object
stadium    1953 non-null object
tv         1953 non-null object
dtypes: int64(3), object(8)
memory usage: 167.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313 entries, 0 to 312
Data columns (total 10 columns):
id         313 non-null int64
year       313 non-null int64
stage      313 non-null object
match      313 non-null object
gameday    313 non-null object
time       313 non-null object
home       313 non-null object
away       313 non-null object
stadium    313 non-null object
tv         313 non-null object
dtypes: int64(2), object(8)
memory usage: 24.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 3 columns):
name       59 non-null object
address    59 non-null object
capa       59 non-null int64
dtypes: int64(1), object(2)
memory usage: 1.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2304 entries, 0 to 2303
Data columns (total 31 columns):
id             2304 non-null int64
home_score     2304 non-null int64
away_score     2304 non-null int64
weather        2304 non-null object
temperature    2304 non-null float64
humidity       2304 non-null object
referee        2304 non-null object
home_team      2304 non-null object
home_01        2304 non-null object
home_02        2304 non-null object
home_03        2304 non-null object
home_04        2304 non-null object
home_05        2304 non-null object
home_06        2304 non-null object
home_07        2304 non-null object
home_08        2304 non-null object
home_09        2304 non-null object
home_10        2304 non-null object
home_11        2304 non-null object
away_team      2304 non-null object
away_01        2304 non-null object
away_02        2304 non-null object
away_03        2304 non-null object
away_04        2304 non-null object
away_05        2304 non-null object
away_06        2304 non-null object
away_07        2304 non-null object
away_08        2304 non-null object
away_09        2304 non-null object
away_10        2304 non-null object
away_11        2304 non-null object
dtypes: float64(1), int64(3), object(27)
memory usage: 558.1+ KB
None

In [382]:
# concatenate df_train with df_test
df = pd.concat([df_train,df_test]).reset_index(drop=True)

# delete rows of df_cond whose id doesn't exist in df_train/df_test's
df_cond = pd.merge(df.loc[:,['id']], df_cond, on='id', how='left')
df_cond.shape

(2266, 31)

In [383]:
# check the min and max of time of df_train/df_test
min_time = min(min(df_train.time),min(df_test.time))
max_time = max(max(df_train.time),max(df_test.time))
print('min =',min_time)
print('max =',max_time)

def convert_time(time):
  min_len = 60*int(min_time[:2]) + int(min_time[-2:])
  max_len = 60*int(max_time[:2]) + int(max_time[-2:])
  return ( 60*int(time[:2]) + int(time[-2:]) - min_len ) / (max_len - min_len)

min = 12:33
max = 20:04

In [384]:
encoded_tv = df['tv'].str.split('／',expand=True).reset_index(drop=True)
encoded_tv[0].unique()

array(['スカパー', 'スカパー！'], dtype=object)

In [385]:
# mapping and generating dummy variables 


# [df]
# stage
df['stage'] = df['stage'].map({'Ｊ１':1, 'Ｊ２':0})

# match
df['match'] = df['match'].map(lambda x: int(x[-2]) - 1)

# gameday
df['gameday'] = df['gameday'].str[6:-1]
encoded_gameday = pd.get_dummies(df['gameday'], drop_first=True)

# time
df['time'] = df['time'].map(convert_time)

# stadium
encoded_stadium = pd.get_dummies(df['stadium'], drop_first=True)

# tv
del encoded_tv[0] # because I knew as above that encoded_tv[0] has no info. 
encoded_tv = pd.get_dummies(encoded_tv)
modified_columns = {col:col[2:] for col in encoded_tv.columns}
encoded_tv.rename(columns=modified_columns, inplace=True)
encoded_tv = encoded_tv.groupby(level=0, axis=1).sum()

# [df_cond]
# weather
encoded_weather = pd.get_dummies(df_cond['weather'], drop_first=True)

# humidity
df_cond['humidity'] = df_cond['humidity'].map(lambda x: 0.01*float(x[:-1]))

# referee
encoded_referee = pd.get_dummies(df_cond['referee'], drop_first=True)

# players
df_players = df_cond.iloc[:,7:]
encoded_players = pd.get_dummies(df_players, drop_first=True)
modified_columns = {col:col[8:] for col in encoded_players.columns}
encoded_players.rename(columns=modified_columns, inplace=True)
encoded_players = encoded_players.groupby(level=0, axis=1).sum()

In [386]:
# PCA with feature values
# [df]
# encoded_gameday
# encoded_stadium
# encoded_tv
# [df_cond]
# encoded_weather
# encoded_referee
# encoded_players
lis_encodeds = [encoded_gameday,encoded_stadium,encoded_tv,encoded_weather,encoded_referee,encoded_players]
encoded_stds = []
pca_encodeds = []
encoded_pcas = []
for encoded in lis_encodeds:
  encoded = encoded.values
  ss = StandardScaler()
  ss.fit(encoded)
  encoded_stds.append(ss.fit_transform(encoded))
  pca_encodeds.append(PCA(n_components= 0.8))
  encoded_pcas.append(pca_encodeds[-1].fit_transform(encoded))

for pca in pca_encodeds:
  print(pca.n_components_)

C:\Users\monad\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype uint8 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

4
31
15
3
26
186

In [387]:
# select the useful non-mapped and non-encoded data
df =  df.drop(['away','gameday','home','stadium','tv','year'],axis=1)
df_cond = df_cond.loc[:,['temperature','humidity']]
df_stad = df_stad.drop('address',axis=1)

In [388]:
# make np.array of y and X_train/X_test
num_train = df_train.shape[0]
y = df[:num_train].loc[:,['y']].values
X = df.loc[:,['match','stage','time']].values
X = np.hstack((X,df_cond.values))
ss = StandardScaler()
ss.fit(X)
X = ss.fit_transform(X)
ss = StandardScaler()
ss.fit(y)
y = ss.fit_transform(y)

for encoded_pca in encoded_pcas:
  X = np.hstack((X, encoded_pca))
X_train = X[:num_train,]
X_test = X[num_train:,]

In [389]:
# All the above is preprocessing of the data
# Now move on data analysis

In [431]:
from sklearn.linear_model import Lasso
lasso = Lasso(alpha=30)
lasso.fit(X_train,y)
y_pred = lasso.predict(X_test)
# y_pred
lasso.coef_

array([   -0.        ,     0.        ,    -0.        ,    24.96357623,
        -233.99996718,   147.87540419, -2702.78980007,    -0.        ,
         705.83014495,  1429.36788841,  -698.55328393,   513.2465518 ,
           0.        ,  -509.34975676, -3031.68099383,    -0.        ,
           0.        , -1994.13173072,    -0.        ,    -0.        ,
           0.        ,     0.        ,     0.        ,    -0.        ,
          -0.        ,     0.        ,    -0.        , -1653.51590711,
        -423.91697078, -6683.11685319, -4708.58348967, -3328.11371454,
          -0.        ,    -0.        ,  2659.53552464, -4341.56747081,
       -6120.71609869,    -0.        ,   564.67205051,     0.        ,
        -378.00486381,     0.        ,    -0.        ,     0.        ,
        -883.31601555,     0.        ,    -0.        ,    -0.        ,
           0.        ,    -0.        ,    -0.        ,    -0.        ,
        4615.49714818,     0.        ,     0.        ,  -111.85187443,
        -695.1423908 ,   570.75681467,    -0.        ,     0.        ,
        1031.95572887,     0.        ,   550.40270793,     0.        ,
          -0.        ,    -0.        ,     0.        ,     0.        ,
          -0.        ,     0.        ,     0.        ,     0.        ,
           0.        ,     0.        ,    -0.        ,     0.        ,
          -0.        ,    -0.        ,     0.        ,     0.        ,
          -0.        ,    -0.        ,     0.        ,     0.        ,
        7045.63270348,    -0.        ,   614.9156016 ,   -14.55196482,
        1493.98683368,  1242.97989741,  1815.92158591,   198.40182976,
        -958.05809074,  -751.35481761,  1330.642913  ,     0.        ,
        -493.94701015,   232.39227504,  1031.95805316,   253.53940417,
        -266.86254192,  -652.64826078,   188.15844147,   216.18520992,
        -439.71830915,  -708.20139829,  -465.86078896,  -695.71907269,
          -0.        ,    27.61789627,  -335.86947087,   654.40141651,
        -346.60014802,  -549.8478915 ,   211.16623624,   258.1203131 ,
        -600.27082465,  -714.53853262,    -0.        ,   393.31736938,
         535.2755447 ,     0.        ,  -421.06814887,  -387.77703755,
         255.83364965,     0.        ,   305.13107381,     0.        ,
          -0.        ,  -493.15563564,  -388.15208162,     0.        ,
           0.        ,    -0.        ,     0.        ,     0.        ,
           0.        ,   -72.69709246,     0.        ,  -372.32350929,
           0.        ,   -63.95910799,    -0.        ,  -491.05537605,
         361.46134783,     0.        ,   111.18363819,  -148.24128667,
          -0.        ,    73.94365474,     0.        ,    -0.        ,
         -80.36375073,    73.16100673,   144.57626642,  -176.22205109,
          -0.        , -1064.47003403,    -0.        ,   873.93879255,
          42.28140005,  -258.4198507 ,    -0.        ,    -0.        ,
           0.        ,    -0.        ,    -0.        ,    -0.        ,
           0.        ,     0.        ,    33.63979721,     0.        ,
        -344.76142859,    -0.        ,     0.        ,     0.        ,
         304.36496364,     0.        ,     0.        ,    -0.        ,
          -0.        ,     0.        ,     0.        ,    -0.        ,
          -0.        ,     0.        ,     0.        ,    -0.        ,
          -0.        ,    -0.        ,     0.        ,     0.        ,
          -0.        ,     0.        ,  -827.94211785,     0.        ,
           0.        ,    -0.        ,     0.        ,    -0.        ,
          -0.        ,     0.        ,    -0.        ,    -0.        ,
           0.        ,     0.        ,     0.        ,     0.        ,
         -17.40534448,    -0.        ,    -0.        ,     0.        ,
           0.        ,    -0.        ,    -0.        ,    -0.        ,
           0.        ,    -0.        ,  -244.35551621,     0.        ,
          -0.        ,    -0.        ,    -0.        ,    -0.        ,
          -0.        ,     0.        ,    -0.        ,    -0.        ,
          -0.        ,    -0.        ,    -0.        ,     0.        ,
           0.        ,     0.        ,    -0.        ,     0.        ,
           0.        ,   -45.12818587,    -0.        ,    -0.        ,
           0.        ,     0.        ,    -0.        ,     0.        ,
           0.        ,    -0.        ,     0.        ,    -0.        ,
          -0.        ,    -0.        ,     0.        ,     0.        ,
           0.        ,    -0.        ,     0.        ,    -0.        ,
           0.        ,    -0.        ,     0.        ,    -0.        ,
           0.        ,    -0.        ,     0.        ,    -0.        ,
          -0.        ,    -0.        ,    -0.        ,    -0.        ,
           0.        ,     0.        ])

In [427]:
arr_submit = np.hstack((df_test.loc[:,['id']].values, np.vstack(y_pred)))
df_submit = pd.DataFrame(arr_submit,columns=['id','y_pred'])
df_submit['id'] = df_submit['id'].astype('int16')
df_submit

        id        y_pred
0    15822  13089.296643
1    15823  14617.349031
2    15824  32365.352071
3    15825  13711.608682
4    15827  22982.116872
5    15828  21207.302914
6    15829   8783.573363
7    15830  13316.731218
8    15831  12251.984766
9    15832  27265.521956
10   15833  19432.694686
11   15834  13691.416633
12   15836  17323.184496
13   15838  16892.898335
14   15840  14387.110915
15   15841  12314.949319
16   15842  32508.928195
17   15843  12354.471826
18   15844  19041.886797
19   15845  18890.311289
20   15846  16062.986824
21   15847  15579.505016
22   15848  18500.755090
23   15849  10951.501328
24   15850  30336.685124
25   15851  16159.863694
26   15852  16938.578177
27   15853  14555.031801
28   15854  15709.847745
29   15855  15180.829676
..     ...           ...
283  16405   5860.130444
284  16406   5272.442220
285  16407   7160.042519
286  16408   6334.895345
287  16409  10579.369816
288  16410   5971.477241
289  16411   6107.181127
290  16412   5985.812787
291  16413   6214.220562
292  16414   7499.464876
293  16415   5492.228051
294  16416   8465.132352
295  16417   7040.749903
296  16418   6870.500045
297  16419   8657.448816
298  16420   8674.681095
299  16421   8190.003255
300  16422   7924.760331
301  16423   3824.005387
302  16424   8011.995323
303  16425   6662.925429
304  16426   9494.347234
305  16427   7889.094201
306  16429   5908.059076
307  16431   8800.620576
308  16432   6891.798372
309  16433   7590.421793
310  16434   8634.051110
311  16435   6799.700797
312  16436   8817.784445

[313 rows x 2 columns]

In [428]:
# save the predicted data as csvfile
df_submit.to_csv('../results/y_pred.csv',index=False,header=False,encoding='utf-8')