In [26]:
import pandas as pd
df = pd.DataFrame({'a':['abcdfadf','wwwadfasdf'],'b':['dedasfaf','tadasfatt']})
df['a'].str[3:]

0      dfadf
1    adfasdf
Name: a, dtype: object

In [27]:
df['a']

0      abcdfadf
1    wwwadfasdf
Name: a, dtype: object

In [28]:
df

            a          b
0    abcdfadf   dedasfaf
1  wwwadfasdf  tadasfatt

In [29]:
df.a

0      abcdfadf
1    wwwadfasdf
Name: a, dtype: object